---
import Layout from "@/layouts/Layout.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import TextContainer from "@/components/TextContainer.astro"
import Logo from "@/icons/Logo.astro"
---

<Layout>
  <SectionContainer>
    <div class="flex flex-col justify-center items-center">
      <Logo class="w-40 mb-4" variant="v" />
      <TextContainer>
        <h3>404: Página no encontrada</h3>
      </TextContainer>
    </div>
  </SectionContainer>
</Layout>